.2_84 { 
	overflow:hidden;
}
.e2_84 { 
	background-color:rgba(255, 228.96875202655792, 217.8125050663948, 1);
	width:1440px;
	height:1024px;
	border-top-left-radius:50px;
	border-top-right-radius:50px;
	border-bottom-left-radius:50px;
	border-bottom-right-radius:50px;
	position:absolute;
}
.e6_37 { 
	background-image:linear-gradient(0deg, rgba(133.06484699249268, 0, 0, 1) 0%,rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0) 100%) ;
	width:620px;
	height:805px;
	position:absolute;
	left:58px;
	top:68px;
	border-top-left-radius:50px;
	border-top-right-radius:50px;
	border-bottom-left-radius:50px;
	border-bottom-right-radius:50px;
}
.6_37 { 
	border:1px solid rgba(161.49999797344208, 38.75999875366688, 0, 1);
}
.e6_45 { 
	background-color:rgba(0, 0, 0, 1);
	width:39px;
	height:38px;
	position:absolute;
	left:921px;
	top:946px;
}
.e6_46 { 
	background-color:rgba(0, 0, 0, 1);
	width:55px;
	height:37px;
	position:absolute;
	left:504px;
	top:946px;
}
.e6_47 { 
	background-image:linear-gradient(0deg, rgba(133.06484699249268, 0, 0, 1) 0%,rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0) 100%) ;
	width:620px;
	height:805px;
	position:absolute;
	left:743px;
	top:71px;
	border-top-left-radius:50px;
	border-top-right-radius:50px;
	border-bottom-left-radius:50px;
	border-bottom-right-radius:50px;
}
.6_47 { 
	border:1px solid rgba(161.49999797344208, 38.75999875366688, 0, 1);
}
.e6_50 { 
	color:rgba(0, 0, 0, 1);
	width:410px;
	height:59px;
	position:absolute;
	left:678px;
	top:502px;
	font-family:Judson;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
}
.e7_67 { 
	background-color:rgba(0, 0, 0, 1);
	width:38px;
	height:36px;
	position:absolute;
	left:791px;
	top:948px;
}
.e7_69 { 
	background-color:rgba(0, 0, 0, 1);
	width:42px;
	height:36px;
	position:absolute;
	left:657px;
	top:946px;
}
.e6_2 { 
	width:284px;
	height:267px;
	position:absolute;
	left:226px;
	top:168px;
	background-image:url(images/screenshot_2022_11_19_212340_removebg_preview_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e6_9 { 
	color:rgba(0, 0, 0, 1);
	width:410px;
	height:59px;
	position:absolute;
	left:4px;
	top:499px;
	font-family:Judson;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
}
.e6_43 { 
	background-color:rgba(0, 0, 0, 1);
	width:50px;
	height:38px;
	position:absolute;
	left:438px;
	top:505px;
}
.e6_44 { 
	background-color:rgba(0, 0, 0, 1);
	width:47px;
	height:38px;
	position:absolute;
	left:515px;
	top:505px;
}
.e7_73 { 
	background-color:rgba(0, 0, 0, 1);
	width:36px;
	height:38px;
	position:absolute;
	left:589px;
	top:505px;
}
.e7_76 { 
	color:rgba(0, 0, 0, 1);
	width:515px;
	height:260px;
	position:absolute;
	left:119px;
	top:585px;
	font-family:Judson;
	text-align:center;
	font-size:28px;
	letter-spacing:0;
}
.e7_78 { 
	background-color:rgba(0, 0, 0, 1);
	width:50px;
	height:38px;
	position:absolute;
	left:1144px;
	top:497px;
}
.e7_79 { 
	background-color:rgba(0, 0, 0, 1);
	width:47px;
	height:38px;
	position:absolute;
	left:1224px;
	top:497px;
}
.e7_80 { 
	background-color:rgba(0, 0, 0, 1);
	width:36px;
	height:38px;
	position:absolute;
	left:1295px;
	top:497px;
}
.e7_82 { 
	color:rgba(0, 0, 0, 1);
	width:560px;
	height:194px;
	position:absolute;
	left:767px;
	top:590px;
	font-family:Judson;
	text-align:center;
	font-size:28px;
	letter-spacing:0;
}
.e11_2 { 
	transform: rotate(1.1899732087852957deg);
	width:322.6676940917969px;
	height:299.7979431152344px;
	position:absolute;
	left:947.22607421875px;
	top:148px;
	background-image:url(images/depositphotos_13570392_stock_illustration_happy_ham_cartoon_removebg_preview_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
